.card-layout {
    background: white;
}

ul.tab-list {
    list-style: none;
    margin: 0;
    padding: 1em 0;
}

ul.tab-list > li {
    display: inline;
    padding: 1em;
    border: 1px solid red;
    border-top-left-radius: .375em;
    border-top-right-radius: .375em;
}

ul.tab-list > li + li {
    border-left: 0;
}

ul.tab-list > li[active] {
    background: grey;
}